<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
    <form (submit)="onSavePost()" [formGroup]="postForm">
        <mat-form-field>
            <input matInput name="title" formControlName="title" placeholder="Post Title">
            <mat-label>Post Title</mat-label>
            @if(postForm.get('title').invalid) {<mat-error>Please enter post title</mat-error>}
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker>
        </div>
        <mat-form-field>
            <textarea rows="6" matInput formControlName="content" placeholder="Post Content"></textarea>
            <mat-label>Post Content</mat-label>
            @if(postForm.get('content').invalid){<mat-error>Please enter post content</mat-error>}
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button
            color="accent"
            type="submit"
            >Save Post</button>
        </mat-card-actions>
    </form>
</mat-card>

  